<html><head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='ie=edge'>
<link rel='stylesheet' href='/css/style.css'>
<title>NoticeBoard</title>
</head>

<body>
  <header class="container">
    <h2>NoticeBoard</h2>
    
    <nav>
      <ul>
        <li>
           <a href="/">Home</a>
        </li>
        <li>
           <a href="/notices">Notices</a>
        </li>
        <li>
           <a href="/notices/add">Add Notice</a>
        </li>

      <ul>
    </nav>
  </header>


  <div class="container">
    {{{body}}}
  </div>


</body></html>
